PORT=3000
MONGO_URL=mongodb://127.0.0.1:27017/qr_menu
ACCESS_KEY=access_secret_key
REFRESH_KEY=refresh_secret_key
ACCESS_EX=15m
REFRESH_EX=7d
BASE_URL=http://localhost:3000
GOOGLE_ACC_USER=your_mail@gmail.com
GOOGLE_ACC_PASS=your_app_password
ADMIN_EMAIL_1=admin@qrmenu.local
ADMIN_PASS_1=admin123
ADMIN_NOTIFY_EMAIL=admin@qrmenu.local
ENABLE_WINSTON_MONGO=false
